<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E Test Suite">
    <test verbose="2" preserve-order="true" name="StudentApiRestAssuredCucumber">
        <classes>
            <class name ="runner.runCucumberTest"></class>
        </classes>
    </test>
</suite>